@model DentaService.API.Data.Entities.Diagnostic


<div class="form-group">
    <label asp-for="Remark" class="control-label"></label>
    <input asp-for="Remark" class="form-control" />
    <span asp-validation-for="Remark" class="text-danger"></span>
</div>

