@model DentaService.API.Data.Entities.DetailService


<div class="form-group">
    <label asp-for="PaymentMethod" class="control-label"></label>
    <input asp-for="PaymentMethod" class="form-control" />
    <span asp-validation-for="PaymentMethod" class="text-danger"></span>
</div>

