@model DentaService.API.Data.Entities.Shedule


<div class="form-group">
    <label asp-for="Date" class="control-label"></label>
    <input asp-for="Date" class="form-control" />
    <span asp-validation-for="Date" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Campus" class="control-label"></label>
    <input asp-for="Campus" class="form-control" />
    <span asp-validation-for="Campus" class="text-danger"></span>
</div>
